<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.jsチュートリアル</title>
</head>
<body>
  <div id="app">
    {{message}}
  </div>

  <div id="app-2">
    <!-- v-bind属性：ディレクティブ(v-接頭辞のもの) 描画されたDOMに特定のリアクティブな振る舞いを与える -->
    <!-- コードの意味↓ この要素のtitle属性をVueインスタンスのmessageプロパティによって更新して保存する -->
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>

  <div id="app-3">
    <!-- v-if:DOMに条件ifをつける -->
    <span v-if="seen">Now you see me</span>
  </div>

  <div id="app-4">
    <ol>
      <!-- v-for:DOMに配列内のデータを１つずつ取り出して表示 -->
      <li v-for="todo in todos">
        {{todo.text}}
      </li>
    </ol>
  </div>

  <div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <div id="app-6">
    <p>{{message1}}</p>
    <!-- 双方向バインディング message1 ←→ バインドされるhtml要素 フォームに入力すると、バインドデータも変わる -->
    <input v-model="message1">
    <p>{{message2}}</p>
    <!-- 単方向バインディング message2 → バインドされるhtml要素 フォームに入力しても、バインドデータは変わらない -->
    <input v-bind:value="message2">
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</body>
</html>